body {
  margin: 0;
  padding: 0;
  background-color: #03a9f4ad;
  text-align: center;
  font-family: "Anek Telugu", sans-serif;
}
header {
  width: 100%;
  height: 50px;
  background-color: #3f51b5;
  border: 2px solid #03a9f4ad;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container {
  text-align: center;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: white;
  text-shadow: 2px 5px 3px grey;
}
.search {
  font-size: 25px;
}
#input {
  border: none;
  border-bottom: 2px solid grey;
  border-radius: 5px;
  margin-right: 5px;
}
#btn {
  color: white;
  border: none;
  background-color: #3f51b5;
  border-bottom: 2px solid grey;
  border-radius: 5px;
}
#output-container {
  color: white;
  font-weight: normal;
  font-size: 25px;
  background-color: #03a9f4ad;
  width: 400px;
}
.city-name {
  background-color: #3f51b5;
  font-size: 50px;
  text-shadow: 2px 5px 3px grey;
  margin: 0;
}
.weather {
  text-shadow: 2px 5px 3px grey;
  font-size: 35px;
  margin: 0;
}
.temp {
  text-shadow: 2px 5px 3px grey;
  font-size: 50px;
  margin: 0;
}
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

@media (max-width: 500px) {
  .title {
    margin: 0;
    font-size: 40px;
  }
  .search-bar {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  #btn {
    margin-top: 5px;
    width: 80%;
  }
  #input {
    width: 80%;
    margin: 0;
  }
  #output-container {
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
  .city-name {
    font-size: 40px;
  }
  img {
    width: 100px;
  }
  .container {
    display: block;
  }
}
.wrapper-bar {
  margin-right: 20px;
}
.wrapper-title{
  margin: 0;
  color: white;
  margin-right: 10px;
  font-size: 25px;
margin-top: 5px;
}

#geo-btn {
  background-color: #03a9f4ad;
  border: 2px solid white;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
#geo-btn:hover {
  background-color:#002ead;
  transition: 0.7s;
}